.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.login-form {
  background-color: rgba(128, 128, 128, 0.285);
  padding: 15px;
  width: 40%;
  border-radius: 8px;
  border: 1px solid gray;
  @media (max-width: 767px) {
    width: 85%;
  }

  h2 {
    margin: 4px 0 15px;
  }
}

.error-message {
  font-size: small;
  color: red;
  margin: 10px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  label {
    font-size: 0.9rem;
    font-weight: 600;
  }

  input {
    padding: 8px;
    outline: none;
    border-radius: 6px;
    border: 1px solid gray;
  }
}

.login-button {
  background-color: rgb(37, 37, 240);
  color: white;
  border: 0;
  padding: 8px 55px;
  margin-top: 15px;
  border-radius: 8px;
}

.toggle-form {
  text-align: center;
  font-size: small;
}
